<header class="w-full flex justify-end obj-color rounded-b-3xl">
  <ul class="flex justify-between gap-4 items-center py-3 px-9 font font-bold">
    <li class="cursor-pointer" routerLink="dashboard" routerLinkActive="selected">Dashboard</li>
    <li class="cursor-pointer" routerLink="english" routerLinkActive="selected">Inglês</li>
    <li class="cursor-pointer" routerLink="enem" routerLinkActive="selected">ENEM</li>
    <li class="cursor-pointer" routerLink="academia" routerLinkActive="selected">Academia</li>
    <li class="cursor-pointer" routerLink="flashcards" routerLinkActive="selected">FlashCards</li>
    <li class="cursor-pointer" routerLink="tasks" routerLinkActive="selected">Tarefas</li>
  </ul>
</header>
